.annotations-toggle {
  font-family: ShlomosemiStam;
  border: none;
  padding: 0;
  background: transparent;
  border-radius: 50%; /* no border, but setting the border-radius allows the focused highlight to fit the button nicely */
  cursor: pointer;
}

.toggle {
  --annotations-toggle-inactive-color: var(--light-text-color);
  --annotations-toggle-hover-color: var(--reader-focus-color);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
}

.toggle-state {
  color: var(--annotations-toggle-inactive-color);
  transition: color var(--reader-motion-color) var(--reader-ease-standard);
  flex: none;
  line-height: 1;
}

.annotations-toggle[aria-pressed='true'] .toggle-state.mod-on,
.annotations-toggle[aria-pressed='false'] .toggle-state.mod-off,
[data-toolbar-overflow-action='annotations'][aria-pressed='true']
  .toggle-state.mod-on,
[data-toolbar-overflow-action='annotations'][aria-pressed='false']
  .toggle-state.mod-off {
  font-size: 1.5em;
  color: var(--annotations-toggle-active-color);
}

@media (hover: hover) and (pointer: fine) {
  .annotations-toggle[aria-pressed='true']:hover .toggle-state.mod-off,
  .annotations-toggle[aria-pressed='false']:hover .toggle-state.mod-on,
  [data-toolbar-overflow-action='annotations'][aria-pressed='true']:hover
    .toggle-state.mod-off,
  [data-toolbar-overflow-action='annotations'][aria-pressed='false']:hover
    .toggle-state.mod-on {
    color: var(--annotations-toggle-hover-color);
  }
}

.toggle.mod-compact {
  font-size: 0.65rem;
}

.toggle.mod-compact .annotations-toggle-icon {
  width: 1.8rem;
  height: 1.8rem;
}

.annotations-toggle-icon {
  height: 4em;
  width: 4em;
  display: flex;
  flex: none;
  gap: 0.25em;
  justify-content: center;
  align-items: center;
  direction: ltr;
  background: transparent;
}
