[data-tooltip] {
  --tooltip-background-color: hsl(0, 0%, 20%);
  --tooltip-text-color: white;
}

html[data-reader-theme='dark'] [data-tooltip] {
  --tooltip-background-color: hsl(0, 0%, 80%);
  --tooltip-text-color: black;
}

@media (prefers-color-scheme: dark) {
  html[data-reader-theme='automatic'] [data-tooltip] {
    --tooltip-background-color: hsl(0, 0%, 80%);
    --tooltip-text-color: black;
  }
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  background-color: var(--tooltip-background-color);
  color: var(--tooltip-text-color);
  display: inline-block;
  position: absolute;
  padding: 1em 1.5em;
  border-radius: var(--button-border-radius);
  font-size: 0.8em;
  white-space: nowrap;
  box-shadow: 0 0 8px -4px black;
  font-family: var(--hebrew-ui-font-family);

  top: var(--header-height);
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 0) scale(0.96);
  transform-origin: top center;

  transition:
    opacity var(--reader-motion-color) var(--reader-ease-out),
    transform var(--reader-motion-color) var(--reader-ease-out);

  transition-delay: 0.1s;

  pointer-events: none; /* this prevents the tooltip from sticking around while you hover over the tooltip itself */
}

[data-tooltip][data-tooltip-position='top-left']::after {
  left: unset;
  right: 0;
  top: 0;
  transform: translate(0, calc(-100% - 10px)) scale(0.96);
  transform-origin: bottom right;
}

@media (hover: hover) and (pointer: fine) {
  [data-tooltip]:hover::after {
    opacity: 1;
    transition-delay: 1.2s;
    transform: translate(-50%, 0) scale(1);
  }

  [data-tooltip][data-tooltip-position='top-left']:hover::after {
    transform: translate(0, calc(-100% - 10px)) scale(1);
  }
}

@media (hover: none) {
  [data-tooltip]::after {
    display: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  [data-tooltip]::after,
  [data-tooltip]:hover::after {
    transition-duration: 0.01ms;
  }

  [data-tooltip]::after {
    transform: translate(-50%, 0) scale(1);
  }

  [data-tooltip][data-tooltip-position='top-left']::after {
    transform: translate(0, calc(-100% - 10px)) scale(1);
  }
}
